<section v-bind:type="itemtype">
    <div class="market-title-vue box-pointer marketing-bgcolor-main"
         v-if="CheckShowMarketLabel.IsShowMarketLabel">
        <span :class="[IcToggleClass]" style="cursor:pointer;"
              @click="onClickToggleShow"></span>
        <span class="text-hover-underline font-16" style="margin-left: 10px;cursor:pointer" 
              @click="onClickToggleShow">{{item.Name}}</span>
    </div>
    <div class="market-content-vue"
         v-bind:style="[CheckShowMarketLabel.Style]" v-if="IsExpand">
        <MsaViewMarket v-if="itemtype == 'Market'" 
                       v-bind:type="itemtype"
                       v-for="(pg, i) in children"
                       :key="'p_' + i"
                      style="box-shadow: 0 0 10px #00000029; margin-top:-5px;"
                       ref="RefViewProductGroup"
                      :products="pg.Products" :item="pg" 
                      itemtype="ProductGroup" />
        <MsaViewProduct v-if="itemtype == 'ProductGroup'" 
                        v-for="(p, i) in products"
                        :key="'list-product-' + p.Id + '_' + i"
                        ref="RefViewProduct"
                        :item="p"
                        itemtype="Product" />
    </div>
</section>